<!DOCTYPE html>
<html>
<head>
	<title> EVCharge: EV page </title>
	<style>
	#header {
    	background-color:#aaaaaa;
    	color:white;
    	text-align:center;
    	padding:5px;
	}
	#nav {
    	line-height:30px;
    	background-color:#eeeeee;
    	height:700px;
    	width:100px;
    	float:left;
    	padding:5px;	      
	}
	#section {
		width:auto;
    	float:left;
    	text-align:center;
    	padding:10px;	 	 
	}
	#footer {
    	background-color:#555555;
    	color:white;
    	clear:both;
    	text-align:center;
   		padding:5px;	 	 
	}
	</style>
</head>

<body>
<div id="header">
	<h1>Welcome to Electrical Vehicle Charging Station!</h1>
</div>

<div id="nav">
	<a href="../../../../..">Setting</a><br>
	<a href="../../../../../regist">Register</a><br>
	<a href="../../../../..">Back</a><br>
</div>

<div id="section">
	<img src={{ car.imageLink }} alt={{car.make}} {{car.model}} style="width:500px;height:300px;"></img><br>
	<img src="/static/charging.png" alt="EV is charging..." style="width:128px;height:128px;"></img><br>
	<p>Your charge starts at: </p>
	<p id = 'now'></p>
	<p>Expected duration of stay: {{duration}} hours</p>
	<p>Expected charge energy: {{distance}} kWh</p>
	<p>The predicted charge duration: {{prediction}} hours</p>
	<form action="/EVCharge/processing" method="get">
      <input type="hidden" name="carid", value={{car.carID}}>
      <input type="hidden" name="userid" value={{userID}}>
      <input type="hidden" name="si" id="curDate" value="">
      <input type="hidden" name="ei" value={{distance}}>
      <input type="hidden" name="ri" value="1.5">
      <input type="hidden" name="durexp" value={{duration}}>
      <input type="hidden" name="next" value="/EVCharge/index.html">
      <input type="submit" value="Disconnect">
    </form>
	<script>
	document.getElementById("now").innerHTML = Date();
	document.getElementById("curDate").value = Date();
	</script>
	
	

</div>

<div id="footer">
Copyright @ EE135 Project winter 2015 by Haixiang Xu

</div>

</body>


</html>