<!DOCTYPE html>
<html>
<head>
	<title> EVCharge: EV page </title>
	<style>
	#header {
    	background-color:#aaaaaa;
    	color:white;
    	text-align:center;
    	padding:5px;
	}
	#nav {
    	line-height:30px;
    	background-color:#eeeeee;
    	height:700px;
    	width:100px;
    	float:left;
    	padding:5px;	      
	}
	#section {
		width:auto;
    	float:left;
    	text-align:center;
    	padding:10px;	 	 
	}
	#footer {
    	background-color:#555555;
    	color:white;
    	clear:both;
    	text-align:center;
   		padding:5px;	 	 
	}
	</style>
</head>

<body>
<div id="header">
	<h1>Welcome to Electrical Vehicle Charging Station!</h1>
</div>

<div id="nav">
	<a href="index.html">Setting</a><br>
	<a href="index.html">Register</a><br>
	<a href="index.html">Back</a><br>
</div>

<div id="section">
	<img src="img/Tesla-Model-S1.jpg" alt="Tesla Model S" style="width:400px;height:245px;"></img><br>
	<img src="img/charging.png" alt="EV is charging..." style="width:128px;height:128px;"></img><br>
	<p>Start time: the start time goes here</p>
	<p>Expected duration of stay: the expected duration goes here</p>
	<p>Expected travel distance: the expected distance goes here</p>
	<p>The predicted charge duration: the predicted charge time goes here</p>
	<button type="button" onclick="alert('Disconnected!')">Disconnect</button>

</div>

<div id="footer">
Copyright @ EE135 Project winter 2015 by Haixiang Xu

</div>

</body>


</html>