<!DOCTYPE html>
<html>
<head>
	<title> EVCharge: EV page </title>
	<style>
	#header {
    	background-color:#aaaaaa;
    	color:white;
    	text-align:center;
    	padding:5px;
	}
	#nav {
    	line-height:30px;
    	background-color:#eeeeee;
    	height:700px;
    	width:100px;
    	float:left;
    	padding:5px;	      
	}
	#section {
		width:auto;
    	float:left;
    	text-align:left;
    	padding:10px;	 	 
	}
	#footer {
    	background-color:#555555;
    	color:white;
    	clear:both;
    	text-align:center;
   		padding:5px;	 	 
	}
	</style>
</head>

<body>
<div id="header">
	<h1>Welcome to Electrical Vehicle Charging Station!</h1>
	<h3>Sign up</h3>
</div>

<div id="nav">
	<a href="../">Setting</a><br>
	<a href="">Register</a><br>
	<a href="../">Back</a><br>
</div>

<div id="section">
	<h3>Basic information: </h3>
	<p>Car ID: <textarea rows="1" cols="10" id = "carID"></textarea></p>
	<p>Make: <textarea rows="1" cols="10" id="make"></textarea></p>
	<p>Model: <textarea rows="1" cols="10" id="model"></textarea></p>
	<p>Please upload a photo: <textarea rows="1" cols="10" id="distance"></textarea></p>
	<h3>Detailed information of the car:</h3>
	<p>Max charge rate: <textarea rows="1" cols="10" id = "maxRate"></textarea></p>
	<p>Mile per kWh: <textarea rows="1" cols="10" id = "milePerKWh"></textarea></p>
	<button type="button" onclick="">Sign up</button>

	<script>
	</script>


</div>

<div id="footer">
Copyright @ EE135 Project winter 2015 by Haixiang Xu

</div>

</body>


</html>